body {
    --main-background: #e7e3d8;
    --main-background-light: #eeebe5;
    --main-background-dark: #c2bfb6;
    --text-color: #292929;
    --accent-color1: #5a9bd4;
    --accent-color1-2: #5a9bd4;
    --accent-color2: #f06a6a;
    --accent-color2-2: #f06a6a;
    --accent-color3: #ddb05c;
    --accent-color3-2: #ddb05c;
    --accent-color1-darker: #5492c9;
    --accent-color2-darker: #d14b4b;
    --accent-color3-darker: #d8a444;
    padding: 0;
    margin: 0;
    background-color: var(--main-background);
    font-family: "Poppins";
    font-weight: 400;
}

* {
    box-sizing: border-box;
  }

.section-padding {
    padding: 40px 30px 40px 30px;}

.restrict-size {
    max-width: 1200px;
}

.center-text {
    text-align: center;
}

/* nav */
.nav-wrapper {
    width: 100%;
    height: 70px;   
    background-color: var(--accent-color3);
    position: sticky;
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.5);
    
    transition: all 0.5s;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo-container {
    color: var(--text-color);
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.links-container {
    height: 50px;
}

.link-image {
    height: 100%;
    object-fit: contain;
    transition: all 0.5s;
}

.link-image:hover {
    transform: translateY(-5px);
}

/* hero */
.hero-section {
    min-width: 300px;
    display: flex;
    justify-content: center;
    height: 70vh;
    background-color: var(--main-background);
    position: relative;
    z-index: 1;
}

.hero-wrapper {
    height: 100%;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text-1 {
    font-size: 24px;
    margin-bottom: 12px;
    color: var(--text-color);
}

.hero-text {
    font-size: 20px;
    color: var(--text-color);
}

.text-emphasis {
    font-size: 26px;
    font-weight: bold;
    color: black;
}


.heading-container {
    height: 80px;
    background-color: var(--accent-color3);
    color: var(--text-color);
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s;
}

.section-heading {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 64px;
    color: var(--text-color);
}

.footer-wrapper {
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: var(--main-background-dark);
    height: 300px;
    position: relative;
    z-index: 10;
}

.sticky {
    position: sticky;
    top: 0;
}

@media only screen and (max-width: 768px) {
    .hero-text-1 {
        font-size: 22px;
    }

    .text-emphasis {
        font-size: 24;
    }
} 
